:root {
    /*--color-red: #e21a1a;*/
    --color-red: #FA5252;
    --color-black: #000000;
    --color-white: rgba(255, 255, 255);
    --color-gray: #394a58;
    --color-green: #a3a86b;
    --color-blue: #0066a1;
}

@font-face {
    font-family: 'RussianRail';
    src: url("/static/fonts/RussianRailGPro-Reg.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RussianRail';
    src: url("/static/fonts/RussianRailGPro-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RussianRail';
    src: url("/static/fonts/RussianRailGPro-Bold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
}

html {
    font-family: 'RussianRail', sans-serif;
}


/*body {*/
/*    width: 600px;*/
/*    height: 1024px;*/
/*    background-color: var(--color-white);*/
/*}*/

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 230px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;

    background-color: var(--color-white);
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-header {
    font-weight: 300;
    font-style: normal;
    text-align: center;
    align-content: center;
}

/*.title-header-complete {*/
/*    font-weight: 300;*/
/*    */
/*    font-style: normal;*/
/*    text-align: center;*/
/*    align-content: center;*/
/*}*/

.horiz-line {
    padding: 0;
    margin-top: 25px;
    width: 85%;
    height: 0;
    border-top: 1px solid var(--color-red);
}


.call-person {
    background-color: var(--color-red);
    color: var(--color-white);
    font-family: 'RussianRail', sans-serif;
    font-size: 20px;
    font-weight: 300;

    border: none;
    width: 250px;

    border-bottom-left-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}


.main-text {
    display: flex;
    flex-direction: row;
    column-gap: 12px;

    align-items: center;
    margin-left: 10px;
}
.name {
    font-size: 20px;
    font-weight: 300;
}
.number-wagon {
    font-size: 20px;
    font-weight: 300;
}
.vert-line {
    height: 40px;
    border-left: 1px solid var(--color-gray);
}


.section {
    position: absolute;
    /*background-color: rgba(57, 74, 88, 40%);*/
    background-color: #d9d9d9;
    top: 230px;
    left: 0;
    bottom: 0;

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.information-section {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.camera-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.camera-image-horizontal {
    width: 100vw;
    margin-top: 12rem;
    position: relative;
}

.done-text {
    font-size: 40px;
    font-weight: 300;
}
.wrong-text {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}



.svg-done {
    width: 400px;
    height: 400px;
}
.svg-cancel {
    width: 300px;
    height: 300px;
}
.svg-loading {
    width: 300px;
    height: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-white);
    padding: 25px 40px;
    width: 470px;

    position: relative;
    top: 20px;

    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}
.step-text {
    font-size: 36px;
    font-weight: 300;
}
.step-text2 {
    font-size: 26px;
    font-weight: 300;
}
.over-image {
    position: fixed;
    top: 220px;
    z-index: 100;
}

.btn-continue {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-white);
    font-family: 'RussianRail', sans-serif;
    font-size: 35px;

    width: 550px;
    height: 160px;

    position: fixed;
    bottom: 50px;

    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}
.btn-repeat {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-white);
    font-family: 'RussianRail', sans-serif;
    font-size: 30px;

    width: 250px;
    height: 100px;

    position: fixed;
    bottom: 50px;

    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}

.step1-reading {
    /*display: none;*/
    /*row-gap: 50px;*/
}
.step1-imgReading {
    width: 550px;
    border-radius: 20px;
}
.step1-processing {
    /*display: none;*/
    /*row-gap: 50px;*/
}
.step1-wrong {
    /*display: none;*/
    /*row-gap: 40px;*/
}



dialog {
    padding: 2rem 3rem;
    background: white;
    max-width: 400px;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
}
dialog::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
}

.x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
}
.x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.primary-place {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 15svw;
    width: 90vw;
    gap: 15px;
}
.second-place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 40svw;
    width: 90vw;
    gap: 10px;
}


.btn {
    background-color: var(--color-gray);
    border: none;
    color: var(--color-white);
    font-family: 'RussianRail', sans-serif;
    font-size: 30px;

    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
}

.btn-tablet {
    background-color: var(--color-red);
    height: 70px;
    width: 100%;
}
.btn-rug {
    background-color: var(--color-red);
    height: 70px;
    width: 100%;
}

.btn-primary {
    background-color: var(--color-red);
}
.btn-second {
    display: grid;
    align-items: end;
    background-size: cover;
}
.btn-second:nth-child(1) {
    background-image: url("../static/images/eat.jpg");
}
.btn-second:nth-child(2) {
    background-image: url("../static/images/suvenir.jpg");
}
.btn-second:nth-child(3) {
    background-image: url("../static/images/taksi.jpg");
}
.btn-second:nth-child(4) {
    background-image: url("../static/images/hotel.jpg");
}

.second-content {
    background-color: var(--color-white);
    height: auto;
    padding: 3px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.second-text {
    color: var(--color-black);
    text-align: start;
    font-size: 16px;
    font-weight: bold;
}
.dialog-text {
    color: var(--color-gray);
    text-align: start;
    font-size: 16px;
}


.rest-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*row-gap: 30px;*/
    flex-direction: column;
}
.rest-svg {
    width: 90vw;
    height: 90vw;
}

.pref-place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-auto-rows: 40svw;*/
    grid-auto-rows: 250px;
    width: 90vw;
    gap: 10px;
    /*padding: 25px;*/
}

.pref-block {
    display: grid;
    border: none;
    background: none;
    align-items: center;
    grid-template-rows: 5fr 1fr;
}

.pref-block img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pref-block-inner {
    background-color: rgba(255, 255, 255, 0.56);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.price-text, .product-text {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    height: auto;
}
.price-text {
    color: var(--color-blue);
}
.product-text {
    color: var(--color-black);
}

.btns {
    margin-top: 20px;
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.btns button {
    width: 100%;
    height: 120px;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
}
.btns button:nth-child(1){
    background-color: var(--color-gray);
}

.dialog-heading-text {
    color: var(--color-gray);
    text-align: center;
    margin-top: 50px;
}
.tablet-image {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}